@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: 'Commissioner', sans-serif;
  background-color: #f5f5f5;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
}
ul li {
  list-style-type: none;
}

button {
  border: none;
}
